.Stat-item {
    border-style: groove;
    border-radius: 7px;
    padding: 5px;
    margin: 2px;
}

.Stat-item-title {
    margin-left: 2px;
    margin-right: 2px;
}

.Stat-data-item {
    background-color: #333e49;
    border-color: #333e49;
    border-style: groove;
    border-radius: 7px;
}